table {
  width: 100%;
  border-collapse: collapse;
  /* remove spaces between cells */
  margin-bottom: calc(40px / 2); }

tr {
  line-height: calc(2 * 16px);
  text-align: center; }
  tr .name {
    width: 30%;
    text-align: left;
    cursor: pointer; }

th {
  line-height: calc(3 * 16px);
  font-size: calc(1.2 * 16px);
  font-weight: normal;
  border-bottom: 1px solid black; }

th:hover {
  border-bottom-width: 4px; }

tbody tr:nth-child(even) {
  background-color: #f9f5f9; }

.statistics-table-header {
  cursor: pointer; }

/*# sourceMappingURL=statistics_table.css.map */
