.pagination {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  margin-bottom: 50px; }
  .pagination span {
    margin-right: 5px; }

.pagination-button {
  margin-right: 5px;
  background-color: white;
  border-width: 0;
  color: #65a3be;
  text-decoration: none; }

.pagination-button:active {
  color: black; }

.pagination-button:hover {
  color: black;
  cursor: pointer; }

.pagination-button-current {
  color: #23647d; }

/*# sourceMappingURL=statistics_pagination.css.map */
