@import "../constants/font_sizes";
@import "../constants/margins_paddings";
@import "../constants/colors";

table {
  width: 100%;
  border-collapse: collapse; /* remove spaces between cells */
  margin-bottom: calc(#{$margin-bottom-between-blocks} / 2);
}

tr {
  line-height: calc(2 * #{$plain-text-font-size});
  text-align: center;

  .name {
    width: 30%;
    text-align: left;
    cursor: pointer;
  }
}

th {
  line-height: calc(3 * #{$plain-text-font-size});
  font-size: calc(1.2 * #{$plain-text-font-size});
  font-weight: normal;
  border-bottom: 1px solid black;
}

th:hover {
  border-bottom-width: 4px;
}

tbody tr:nth-child(even) {
  background-color: $color-light-purple;
}

.statistics-table-header {
  cursor: pointer;
}
