@import "../constants/colors";

$margin-right: 5px;

.pagination {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  margin-bottom: 50px;

  span {
    margin-right: $margin-right;
  }
}

.pagination-button {
  margin-right: $margin-right;
  background-color: white;
  border-width: 0;
  color: $color-light-blue;
  text-decoration: none;
}

.pagination-button:active {
  color: black;
}

.pagination-button:hover {
  color: black;
  cursor: pointer;
}

.pagination-button-current {
  color: $color-dark-blue;
}
