.input-checkbox-container {
  display: flex;
  flex-direction: row;
  color: #767676;
  padding-right: 20px; }

.input-checkbox-container:hover {
  color: black; }

.filter-by-form {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: space-between;
  margin-bottom: 50px; }
  .filter-by-form .input-checkbox-container:not(:first-child) {
    border-left: 2px dotted #767676;
    padding-left: 20px; }

.filter-by-form-top-teachers {
  width: 50%; }

.filter-by-form-statistics label {
  margin-right: 20px; }
.filter-by-form-statistics input[type="number"] {
  width: 100px; }

.inputs-filter-by-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.input-checkbox:checked + label {
  color: black; }

.input-radio:checked + label {
  color: black; }

@media screen and (max-width: 768px) {
  .filter-by-form {
    align-self: center;
    flex-direction: column; }
    .filter-by-form .input-checkbox-container {
      margin-bottom: 10px; }
    .filter-by-form .input-checkbox-container:not(:first-child) {
      border: none;
      padding: 0; }

  .filter-by-form-top-teachers {
    width: 254px;
    height: 96px; }

  .filter-by-form-statistics {
    height: 130px; }

  .inputs-filter-by-container {
    flex-direction: column; } }

/*# sourceMappingURL=filter_forms.css.map */
