.search-form {
  grid-area: searchForm;
  justify-self: end;
  width: auto; }

.search-form > input {
  box-sizing: border-box;
  height: calc(40px + 2 * 1px);
  width: calc(190px + 2 * 1px);
  margin-right: 20px; }

.search-form > select {
  height: calc(40px + 2 * 1px);
  width: 90px;
  margin-right: 20px; }

@media screen and (max-width: 568px) {
  .search-form {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center; }

  .search-form > input {
    margin: 0; }

  .search-form > select {
    margin: 0; } }

/*# sourceMappingURL=search_form.css.map */
