.line-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0; }

.line-gallery-frame {
  overflow: hidden; }

.line-gallery-cards-container {
  display: flex;
  flex-direction: row;
  width: calc( 80px * 4 + (112px + 2 * 4px) * 5 );
  justify-content: right;
  padding-right: 80px;
  padding-left: 80px;
  position: relative;
  transition: all 0.5s; }
  .line-gallery-cards-container .teacher-card-compact {
    margin-right: 80px; }
  .line-gallery-cards-container .teacher-card-compact:last-child {
    margin-right: 0; }

@media screen and (max-width: 800px) {
  .line-gallery-cards-container {
    width: calc( 2 * (112px + 2 * 4px) + 2 * 40px );
    padding: 40px; } }
@media screen and (max-width: 600px) {
  .line-gallery-cards-container {
    width: calc(112px + 2 * 4px); } }

/*# sourceMappingURL=line_gallery.css.map */
