.table-gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, calc(112px + 4px));
  grid-template-rows: repeat(2, 220px);
  column-gap: 80px;
  row-gap: 45px; }

@media screen and (max-width: 800px) {
  .table-gallery {
    grid-template-columns: repeat(3, calc(112px + 4px));
    grid-template-rows: repeat(3, 220px);
    column-gap: 40px; } }
@media screen and (max-width: 600px) {
  .table-gallery {
    grid-template-columns: repeat(2, calc(112px + 4px));
    grid-template-rows: repeat(5, 220px); } }

/*# sourceMappingURL=table_gallery.css.map */
