.teacher-card-compact {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: relative; }
  .teacher-card-compact .card-compact-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(112px + 4px * 2);
    height: calc(112px + 4px * 2);
    border: 4px solid #f99589;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
    .teacher-card-compact .card-compact-img-container span {
      font-size: calc(1.2 * 22px);
      font-weight: bold;
      color: #f75c49; }
    .teacher-card-compact .card-compact-img-container img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
      transition: 0.5s; }
  .teacher-card-compact .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 45px;
    font-size: 22px; }
    .teacher-card-compact .name p {
      margin: 0;
      padding: 0; }
  .teacher-card-compact .teacher-card-compact-star {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #ecec02;
    font-size: 20px;
    align-self: flex-end; }

.teacher-card-compact:hover .card-compact-img-container {
  border-color: #cc4836; }
  .teacher-card-compact:hover .card-compact-img-container img {
    transform: scale(1.2); }
  .teacher-card-compact:hover .card-compact-img-container span {
    color: #cc4836; }

/*# sourceMappingURL=teacher_card_compact.css.map */
