@import "../constants/margins_paddings";
@import "../constants/elements_width";

$between-compact-cards-small: $between-compact-cards / 2;

.line-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.line-gallery-frame {
  overflow: hidden;
}

.line-gallery-cards-container {
  display: flex;
  flex-direction: row;
  width:
    calc(
      #{$between-compact-cards} * 4 +
      (#{$teacher-card-compact-img-width} +
      2 * #{$teacher-card-compact-img-border-width}) * 5
    );
  justify-content: right;
  padding-right: $between-compact-cards;
  padding-left: $between-compact-cards;
  position: relative;
  transition: all 0.5s;

  .teacher-card-compact {
    margin-right: $between-compact-cards;
  }

  .teacher-card-compact:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .line-gallery-cards-container {
    $number-of-cards-visible: 2;

    width:
      calc(
        #{$number-of-cards-visible} * (#{$teacher-card-compact-img-width} +
        2 * #{$teacher-card-compact-img-border-width}) +
        2 * #{$between-compact-cards-small}
      );
    padding: $between-compact-cards-small;
  }
}

@media screen and (max-width: 600px) {
  .line-gallery-cards-container {
    width: calc(#{$teacher-card-compact-img-width} + 2 * #{$teacher-card-compact-img-border-width});
  }
}
