@import "../constants/margins_paddings";
@import "../constants/elements_width";

$row-height: 220px;

.table-gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, calc(#{$teacher-card-compact-img-width} + #{$teacher-card-compact-img-border-width}));
  grid-template-rows: repeat(2, $row-height);
  column-gap: $between-compact-cards;
  row-gap: 45px;
}

@media screen and (max-width: 800px) {
  .table-gallery {
    $between-compact-cards-small: $between-compact-cards / 2;

    grid-template-columns: repeat(3, calc(#{$teacher-card-compact-img-width} + #{$teacher-card-compact-img-border-width}));
    grid-template-rows: repeat(3, $row-height);
    column-gap: $between-compact-cards-small;
  }
}

@media screen and (max-width: 600px) {
  .table-gallery {
    $between-compact-cards-small: $between-compact-cards / 2;

    grid-template-columns: repeat(2, calc(#{$teacher-card-compact-img-width} + #{$teacher-card-compact-img-border-width}));
    grid-template-rows: repeat(5, $row-height);
  }
}
