@import "../constants/elements_width";
@import "../constants/font_sizes";
@import "../constants/colors";

.teacher-card-compact {
  text-align: center;
  font-size: $small-text-font-size;
  cursor: pointer;
  position: relative;

  .card-compact-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(#{$teacher-card-compact-img-width} + #{$teacher-card-compact-img-border-width} * 2);
    height: calc(#{$teacher-card-compact-img-width} + #{$teacher-card-compact-img-border-width} * 2);
    border: $teacher-card-compact-img-border-width solid $color-light-red;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;

    span {
      font-size: calc(1.2 * #{$emphasized-text-font-size});
      font-weight: bold;
      color: $color-deep-red;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 45px;
    font-size: $emphasized-text-font-size;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .teacher-card-compact-star {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    color: $color-yellow;
    font-size: 20px;
    align-self: flex-end;
  }
}

.teacher-card-compact:hover .card-compact-img-container {
  border-color: $color-deep-hover-red;

  img {
    transform: scale(1.2);
  }

  span {
    color: $color-deep-hover-red;
  }
}
