$color-deep-red: #f75c49;
$color-light-red: #f99589;
$color-deep-hover-red: #cc4836;
$color-light-blue: #65a3be;
$color-hover-blue: #548eaa;
$color-dark-blue: #23647d;
$color-light-purple: #f9f5f9;
$color-grey: #767676;
$color-dark-grey: #666;
$color-light-grey: #eee;
$color-yellow: #ecec02;
