@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Vesper+Libre:wght@900&display=swap');

$main-font: 'PT Sans', sans-serif;
$title-font: 'Tinos', serif;
