@import "../constants/elements_width";
@import "../constants/colors";

$search-form-height-without-border: 40px;
$input-height: calc(40px + 2 * #{$button-border-width});
$margin-right: 20px;

.search-form {
  grid-area: searchForm;
  justify-self: end;
  width: auto;
}

.search-form > input {
  box-sizing: border-box;
  height: $input-height;
  width: calc(190px + 2 * #{$input-border-width});
  margin-right: $margin-right;
}

.search-form > select {
  height: $input-height;
  width: 90px;
  margin-right: $margin-right;
}

@media screen and (max-width: 568px) {
  .search-form {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center;
  }

  .search-form > input {
    margin: 0;
  }

  .search-form > select {
    margin: 0;
  }
}
