button {
  border-style: solid;
  cursor: pointer; }

.standard-button {
  position: relative;
  border-width: 1px;
  border-color: #f75c49;
  background-color: white;
  color: #f75c49;
  font-weight: bold; }
  .standard-button span {
    position: relative;
    z-index: 1; }

.standard-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f75c49;
  transition: all 0.35s; }

.standard-button:hover {
  color: white; }

.standard-button:hover::after {
  width: 100%; }

.link-button {
  border: none;
  background-color: white;
  color: #65a3be;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-size: 16px; }

.search-button {
  box-sizing: border-box;
  width: calc(90px + 2 * 1px);
  height: calc(40px + 2 * 1px);
  padding: 0;
  font-size: 16px; }
  .search-button span {
    width: calc(90px + 2 * 1px);
    height: calc(40px + 2 * 1px);
    line-height: calc(40px + 2 * 1px);
    display: block; }

.add-teacher-button {
  box-sizing: border-box;
  width: calc(165px + 2 * 1px);
  height: calc(50px + 2 * 1px);
  grid-area: addTeacherButton;
  justify-self: end;
  font-size: 22px; }

.icon-button {
  margin: 0;
  padding: 0;
  border: none;
  color: #767676;
  background-color: white; }

.icon-button:disabled {
  color: lightgrey; }

.star-button {
  color: #ecec02;
  font-size: 37px; }

.arrow-button {
  height: 65px;
  font-size: 48px; }

.close-button {
  color: black;
  font-size: 16px; }

/*# sourceMappingURL=buttons.css.map */
