@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Vesper+Libre:wght@900&display=swap");
.title {
  grid-area: title;
  justify-self: start;
  font-family: "Tinos", serif;
  color: white;
  text-shadow: #f75c49 2px 2px, black -2px -2px;
  cursor: pointer; }

.title:hover {
  color: #eee; }

.main-menu {
  width: 480px;
  grid-area: mainMenu;
  justify-self: start;
  font-size: 22px;
  color: #f75c49; }
  .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0; }
    .main-menu ul li {
      list-style-type: none; }
    .main-menu ul li:hover {
      color: #cc4836; }

footer .main-menu {
  color: #65a3be; }

footer .main-menu > ul li:hover {
  color: #548eaa; }

.footer-menu-with-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .main-menu {
    width: 100%; }
    .main-menu ul {
      flex-direction: column;
      align-items: center; }

  .footer-menu-with-button-container {
    flex-direction: column;
    align-items: center; } }

/*# sourceMappingURL=main_menu_with_title.css.map */
