@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Vesper+Libre:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Vesper+Libre:wght@900&display=swap");
button {
  border-style: solid;
  cursor: pointer; }

.standard-button {
  position: relative;
  border-width: 1px;
  border-color: #f75c49;
  background-color: white;
  color: #f75c49;
  font-weight: bold; }
  .standard-button span {
    position: relative;
    z-index: 1; }

.standard-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f75c49;
  transition: all 0.35s; }

.standard-button:hover {
  color: white; }

.standard-button:hover::after {
  width: 100%; }

.link-button {
  border: none;
  background-color: white;
  color: #65a3be;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-size: 16px; }

.search-button {
  box-sizing: border-box;
  width: calc(90px + 2 * 1px);
  height: calc(40px + 2 * 1px);
  padding: 0;
  font-size: 16px; }
  .search-button span {
    width: calc(90px + 2 * 1px);
    height: calc(40px + 2 * 1px);
    line-height: calc(40px + 2 * 1px);
    display: block; }

.add-teacher-button {
  box-sizing: border-box;
  width: calc(165px + 2 * 1px);
  height: calc(50px + 2 * 1px);
  grid-area: addTeacherButton;
  justify-self: end;
  font-size: 22px; }

.icon-button {
  margin: 0;
  padding: 0;
  border: none;
  color: #767676;
  background-color: white; }

.icon-button:disabled {
  color: lightgrey; }

.star-button {
  color: #ecec02;
  font-size: 37px; }

.arrow-button {
  height: 65px;
  font-size: 48px; }

.close-button {
  color: black;
  font-size: 16px; }

.line-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0; }

.line-gallery-frame {
  overflow: hidden; }

.line-gallery-cards-container {
  display: flex;
  flex-direction: row;
  width: calc( 80px * 4 + (112px + 2 * 4px) * 5 );
  justify-content: right;
  padding-right: 80px;
  padding-left: 80px;
  position: relative;
  transition: all 0.5s; }
  .line-gallery-cards-container .teacher-card-compact {
    margin-right: 80px; }
  .line-gallery-cards-container .teacher-card-compact:last-child {
    margin-right: 0; }

@media screen and (max-width: 800px) {
  .line-gallery-cards-container {
    width: calc( 2 * (112px + 2 * 4px) + 2 * 40px );
    padding: 40px; } }
@media screen and (max-width: 600px) {
  .line-gallery-cards-container {
    width: calc(112px + 2 * 4px); } }
.title {
  grid-area: title;
  justify-self: start;
  font-family: "Tinos", serif;
  color: white;
  text-shadow: #f75c49 2px 2px, black -2px -2px;
  cursor: pointer; }

.title:hover {
  color: #eee; }

.main-menu {
  width: 480px;
  grid-area: mainMenu;
  justify-self: start;
  font-size: 22px;
  color: #f75c49; }
  .main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0; }
    .main-menu ul li {
      list-style-type: none; }
    .main-menu ul li:hover {
      color: #cc4836; }

footer .main-menu {
  color: #65a3be; }

footer .main-menu > ul li:hover {
  color: #548eaa; }

.footer-menu-with-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .main-menu {
    width: 100%; }
    .main-menu ul {
      flex-direction: column;
      align-items: center; }

  .footer-menu-with-button-container {
    flex-direction: column;
    align-items: center; } }
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; }

.popup {
  padding: 44px 80px 30px 80px;
  background-color: white;
  border: 1px solid #666;
  overflow: hidden;
  box-shadow: 3px 3px 5px grey; }
  .popup h1 {
    font-size: 40px;
    font-weight: normal; }

.header-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-with-close-button {
  height: 40px;
  margin-left: calc(0 - (80px) / 2);
  margin-right: calc(0 - (80px) / 2); }

.popup-teacher-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 406px;
  height: 792px; }
  .popup-teacher-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 614px;
    width: 244px; }
    .popup-teacher-form form input {
      border: 1px solid #767676;
      border-radius: 3%;
      font-size: 14px; }
    .popup-teacher-form form label {
      flex-grow: 1;
      margin-bottom: 12px; }
    .popup-teacher-form form .simple-label-with-input {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .popup-teacher-form form .line-input {
      box-sizing: border-box;
      width: 244px;
      height: 34px; }
    .popup-teacher-form form .inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      height: 520px; }
  .popup-teacher-form .header-with-close-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 300px; }
    .popup-teacher-form .header-with-close-button h1 {
      margin-right: 50px; }
  .popup-teacher-form .standard-button {
    width: 244px;
    height: 64px;
    font-size: 32px;
    border-width: 1px; }

.container-for-label-and-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .popup-teacher-form {
    width: 100vw;
    margin: 0 auto;
    padding: 48px 20px;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll; }
    .popup-teacher-form .inputs-container {
      margin-bottom: 40px; }
    .popup-teacher-form .header-with-close-button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 40px; }
      .popup-teacher-form .header-with-close-button h1 {
        margin: 0; } }
.popup-teacher-info {
  padding: 44px 80px 30px 80px;
  box-sizing: border-box;
  width: 1052px;
  height: 617px; }
  .popup-teacher-info p {
    padding: 0;
    margin: 0 0 15px;
    display: flex; }
  .popup-teacher-info img {
    float: left;
    margin-right: 44px;
    margin-bottom: 36px;
    width: 320px;
    height: 320px;
    object-fit: cover; }
  .popup-teacher-info .teacher-info-and-img-container {
    height: 350px; }
  .popup-teacher-info .span-margin-right {
    margin-right: 5px; }
  .popup-teacher-info .name {
    width: 100%;
    padding: 0 44px 0 0;
    font-size: 48px; }
  .popup-teacher-info .email {
    color: #65a3be; }
  .popup-teacher-info .header-with-close-button {
    margin-bottom: 44px; }
  .popup-teacher-info .header-with-star-button {
    height: 48px;
    margin-bottom: 55px; }
  .popup-teacher-info .header-with-button h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0; }

.teacher-info-map {
  display: none;
  height: 280px;
  width: 500px;
  margin-left: 370px; }

@media screen and (max-width: 768px) {
  .popup-teacher-info {
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; }
    .popup-teacher-info img {
      float: none;
      width: 80vw;
      margin: 0 0 40px; } }
.search-form {
  grid-area: searchForm;
  justify-self: end;
  width: auto; }

.search-form > input {
  box-sizing: border-box;
  height: calc(40px + 2 * 1px);
  width: calc(190px + 2 * 1px);
  margin-right: 20px; }

.search-form > select {
  height: calc(40px + 2 * 1px);
  width: 90px;
  margin-right: 20px; }

@media screen and (max-width: 568px) {
  .search-form {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center; }

  .search-form > input {
    margin: 0; }

  .search-form > select {
    margin: 0; } }
.input-checkbox-container {
  display: flex;
  flex-direction: row;
  color: #767676;
  padding-right: 20px; }

.input-checkbox-container:hover {
  color: black; }

.filter-by-form {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: space-between;
  margin-bottom: 50px; }
  .filter-by-form .input-checkbox-container:not(:first-child) {
    border-left: 2px dotted #767676;
    padding-left: 20px; }

.filter-by-form-top-teachers {
  width: 50%; }

.filter-by-form-statistics label {
  margin-right: 20px; }
.filter-by-form-statistics input[type="number"] {
  width: 100px; }

.inputs-filter-by-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.input-checkbox:checked + label {
  color: black; }

.input-radio:checked + label {
  color: black; }

@media screen and (max-width: 768px) {
  .filter-by-form {
    align-self: center;
    flex-direction: column; }
    .filter-by-form .input-checkbox-container {
      margin-bottom: 10px; }
    .filter-by-form .input-checkbox-container:not(:first-child) {
      border: none;
      padding: 0; }

  .filter-by-form-top-teachers {
    width: 254px;
    height: 96px; }

  .filter-by-form-statistics {
    height: 130px; }

  .inputs-filter-by-container {
    flex-direction: column; } }
.chart-container {
  width: 60vw;
  height: auto;
  display: none;
  margin-bottom: 50px; }

.pagination {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: flex-start;
  align-self: start;
  margin-bottom: 50px; }
  .pagination span {
    margin-right: 5px; }

.pagination-button {
  margin-right: 5px;
  background-color: white;
  border-width: 0;
  color: #65a3be;
  text-decoration: none; }

.pagination-button:active {
  color: black; }

.pagination-button:hover {
  color: black;
  cursor: pointer; }

.pagination-button-current {
  color: #23647d; }

table {
  width: 100%;
  border-collapse: collapse;
  /* remove spaces between cells */
  margin-bottom: calc(40px / 2); }

tr {
  line-height: calc(2 * 16px);
  text-align: center; }
  tr .name {
    width: 30%;
    text-align: left;
    cursor: pointer; }

th {
  line-height: calc(3 * 16px);
  font-size: calc(1.2 * 16px);
  font-weight: normal;
  border-bottom: 1px solid black; }

th:hover {
  border-bottom-width: 4px; }

tbody tr:nth-child(even) {
  background-color: #f9f5f9; }

.statistics-table-header {
  cursor: pointer; }

.table-gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, calc(112px + 4px));
  grid-template-rows: repeat(2, 220px);
  column-gap: 80px;
  row-gap: 45px; }

@media screen and (max-width: 800px) {
  .table-gallery {
    grid-template-columns: repeat(3, calc(112px + 4px));
    grid-template-rows: repeat(3, 220px);
    column-gap: 40px; } }
@media screen and (max-width: 600px) {
  .table-gallery {
    grid-template-columns: repeat(2, calc(112px + 4px));
    grid-template-rows: repeat(5, 220px); } }
.teacher-card-compact {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: relative; }
  .teacher-card-compact .card-compact-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(112px + 4px * 2);
    height: calc(112px + 4px * 2);
    border: 4px solid #f99589;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
    .teacher-card-compact .card-compact-img-container span {
      font-size: calc(1.2 * 22px);
      font-weight: bold;
      color: #f75c49; }
    .teacher-card-compact .card-compact-img-container img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
      transition: 0.5s; }
  .teacher-card-compact .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 45px;
    font-size: 22px; }
    .teacher-card-compact .name p {
      margin: 0;
      padding: 0; }
  .teacher-card-compact .teacher-card-compact-star {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #ecec02;
    font-size: 20px;
    align-self: flex-end; }

.teacher-card-compact:hover .card-compact-img-container {
  border-color: #cc4836; }
  .teacher-card-compact:hover .card-compact-img-container img {
    transform: scale(1.2); }
  .teacher-card-compact:hover .card-compact-img-container span {
    color: #cc4836; }

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px; }

header {
  display: grid;
  align-items: center;
  grid-template-columns: 400px calc(480px - 400px) auto auto calc(165px + 2 * 1px);
  grid-template-rows: auto;
  grid-template-areas: "title . . searchForm searchForm" "mainMenu mainMenu . . addTeacherButton";
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: calc(100% - 2 * 100px); }
  main hr {
    align-self: center;
    width: 590px;
    border: 0.5px solid black; }

footer {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px; }
  footer p {
    margin-bottom: 40px; }

input {
  padding-left: 9px;
  border-width: 1px;
  border-color: #767676;
  font-size: 16px; }

select {
  background: white;
  font-size: 16px;
  font-family: "PT Sans", sans-serif; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 48px;
  text-align: center;
  font-weight: normal; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit; }

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden; }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 90vw; }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  main {
    width: 100%; }
    main section {
      width: 100%; }
    main hr {
      width: 80%; }

  footer {
    width: 100%;
    margin-bottom: 80px; }
    footer p {
      margin-left: 50px;
      margin-right: 50px; } }

/*# sourceMappingURL=main_elements.css.map */
