@import "../constants/margins_paddings";
@import "../constants/colors";
@import "../constants/font_sizes";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.popup {
  padding: 44px $padding-left-right-popup 30px $padding-left-right-popup;
  background-color: white;
  border: 1px solid $color-dark-grey;
  overflow: hidden;
  box-shadow: 3px 3px 5px grey;

  h1 {
    font-size: $popup-headers-font-size;
    font-weight: normal;
  }
}

.header-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-with-close-button {
  height: $popup-headers-font-size;
  margin-left: calc(0 - (#{$padding-left-right-popup}) / 2);
  margin-right: calc(0 - (#{$padding-left-right-popup}) / 2);
}
