@import "../constants/margins_paddings";
@import "../constants/colors";
@import "../constants/font_sizes";

$img-width: 320px;

.popup-teacher-info {
  padding: 44px $padding-left-right-popup 30px $padding-left-right-popup;
  box-sizing: border-box;
  width: 1052px;
  height: 617px;

  p {
    padding: 0;
    margin: 0 0 15px;
    display: flex;
  }

  img {
    float: left;
    margin-right: 44px;
    margin-bottom: 36px;
    width: 320px;
    height: 320px;
    object-fit: cover;
  }

  .teacher-info-and-img-container {
    height: 350px;
  }

  .span-margin-right {
    margin-right: 5px;
  }

  .name {
    width: 100%;
    padding: 0 44px 0 0;
    font-size: $h2-font-size;
  }

  .email {
    color: $color-light-blue;
  }

  .header-with-close-button {
    margin-bottom: 44px;
  }

  .header-with-star-button {
    height: $h2-font-size;
    margin-bottom: 55px;
  }

  .header-with-button h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.teacher-info-map {
  display: none;
  height: 280px;
  width: 500px;
  margin-left: 370px;
}

@media screen and (max-width: 768px) {
  .popup-teacher-info {
    $img-width: 80vw;

    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding-left: (100vw - $img-width) / 2;
    padding-right: (100vw - $img-width) / 2;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    img {
      float: none;
      width: $img-width;
      margin: 0 0 40px;
    }
  }
}
