@import "../constants/colors";
@import "../constants/font_sizes";

.popup-teacher-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 406px;
  height: 792px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 614px;
    width: 244px;

    input {
      border: 1px solid $color-grey;
      border-radius: 3%;
      font-size: $small-text-font-size;
    }

    label {
      flex-grow: 1;
      margin-bottom: 12px;
    }

    .simple-label-with-input {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .line-input {
      box-sizing: border-box;
      width: 244px;
      height: 34px;
    }

    .inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      height: 520px;
    }
  }

  .header-with-close-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 300px;

    h1 {
      margin-right: 50px;
    }
  }

  .standard-button {
    width: 244px;
    height: 64px;
    font-size: 32px;
    border-width: 1px;
  }
}

.container-for-label-and-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .popup-teacher-form {
    $margin-bottom-between-content-blocks: 40px;

    width: 100vw;
    margin: 0 auto;
    padding: $margin-bottom-between-content-blocks * 1.2 20px;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;

    .inputs-container {
      margin-bottom: $margin-bottom-between-content-blocks;
    }

    .header-with-close-button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: $margin-bottom-between-content-blocks;

      h1 {
        margin: 0;
      }
    }
  }
}
