.popup-teacher-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 406px;
  height: 792px; }
  .popup-teacher-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 614px;
    width: 244px; }
    .popup-teacher-form form input {
      border: 1px solid #767676;
      border-radius: 3%;
      font-size: 14px; }
    .popup-teacher-form form label {
      flex-grow: 1;
      margin-bottom: 12px; }
    .popup-teacher-form form .simple-label-with-input {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .popup-teacher-form form .line-input {
      box-sizing: border-box;
      width: 244px;
      height: 34px; }
    .popup-teacher-form form .inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      height: 520px; }
  .popup-teacher-form .header-with-close-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 300px; }
    .popup-teacher-form .header-with-close-button h1 {
      margin-right: 50px; }
  .popup-teacher-form .standard-button {
    width: 244px;
    height: 64px;
    font-size: 32px;
    border-width: 1px; }

.container-for-label-and-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .popup-teacher-form {
    width: 100vw;
    margin: 0 auto;
    padding: 48px 20px;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll; }
    .popup-teacher-form .inputs-container {
      margin-bottom: 40px; }
    .popup-teacher-form .header-with-close-button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 40px; }
      .popup-teacher-form .header-with-close-button h1 {
        margin: 0; } }

/*# sourceMappingURL=popup_teacher_form.css.map */
