.popup-teacher-info {
  padding: 44px 80px 30px 80px;
  box-sizing: border-box;
  width: 1052px;
  height: 617px; }
  .popup-teacher-info p {
    padding: 0;
    margin: 0 0 15px;
    display: flex; }
  .popup-teacher-info img {
    float: left;
    margin-right: 44px;
    margin-bottom: 36px;
    width: 320px;
    height: 320px;
    object-fit: cover; }
  .popup-teacher-info .teacher-info-and-img-container {
    height: 350px; }
  .popup-teacher-info .span-margin-right {
    margin-right: 5px; }
  .popup-teacher-info .name {
    width: 100%;
    padding: 0 44px 0 0;
    font-size: 48px; }
  .popup-teacher-info .email {
    color: #65a3be; }
  .popup-teacher-info .header-with-close-button {
    margin-bottom: 44px; }
  .popup-teacher-info .header-with-star-button {
    height: 48px;
    margin-bottom: 55px; }
  .popup-teacher-info .header-with-button h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0; }

.teacher-info-map {
  display: none;
  height: 280px;
  width: 500px;
  margin-left: 370px; }

@media screen and (max-width: 768px) {
  .popup-teacher-info {
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; }
    .popup-teacher-info img {
      float: none;
      width: 80vw;
      margin: 0 0 40px; } }

/*# sourceMappingURL=popup_teacher_info.css.map */
