.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; }

.popup {
  padding: 44px 80px 30px 80px;
  background-color: white;
  border: 1px solid #666;
  overflow: hidden;
  box-shadow: 3px 3px 5px grey; }
  .popup h1 {
    font-size: 40px;
    font-weight: normal; }

.header-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-with-close-button {
  height: 40px;
  margin-left: calc(0 - (80px) / 2);
  margin-right: calc(0 - (80px) / 2); }

/*# sourceMappingURL=popup.css.map */
