@import "../constants/colors";
@import "../constants/elements_width";
@import "../constants/font_sizes";

$button-add-teacher-width: calc(165px + 2 * #{$button-border-width});

button {
  border-style: solid;
  cursor: pointer;
}

.standard-button {
  position: relative;
  border-width: $button-border-width;
  border-color: $color-deep-red;
  background-color: white;
  color: $color-deep-red;
  font-weight: bold;

  span {
    position: relative;
    z-index: 1;
  }
}

.standard-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: $color-deep-red;
  transition: all 0.35s;
}

.standard-button:hover {
  color: white;
}

.standard-button:hover::after {
  width: 100%;
}

.link-button {
  border: none;
  background-color: white;
  color: $color-light-blue;
  text-decoration: underline;
  text-decoration-style: dashed;
  font-size: $plain-text-font-size;
}

.search-button {
  $width: calc(90px + 2 * #{$button-border-width});
  $height: calc(40px + 2 * #{$button-border-width});

  box-sizing: border-box;
  width: $width;
  height: $height;
  padding: 0;
  font-size: $plain-text-font-size;

  span {
    width: $width;
    height: $height;
    line-height: $height;
    display: block;
  }

  //a {
  //  width: $width;
  //  height: $height;
  //}
}

.add-teacher-button {
  box-sizing: border-box;
  width: $button-add-teacher-width;
  height: calc(50px + 2 * #{$button-border-width});
  grid-area: addTeacherButton;
  justify-self: end;
  font-size: $emphasized-text-font-size;
}

.icon-button {
  margin: 0;
  padding: 0;
  border: none;
  color: $color-grey;
  background-color: white;
}

.icon-button:disabled {
  color: lightgrey;
}

.star-button {
  color: $color-yellow;
  font-size: 37px;
}

.arrow-button {
  height: 65px;
  font-size: 48px;
}

.close-button {
  color: black;
  font-size: 16px;
}
