@import "../constants/fonts";
@import "../constants/elements_width";
@import "../constants/colors";
@import "../constants/font_sizes";

.title {
  grid-area: title;
  justify-self: start;
  font-family: $title-font;
  color: white;
  text-shadow: $color-deep-red 2px 2px, black -2px -2px;
  cursor: pointer;
}

.title:hover {
  color: $color-light-grey;
}

.main-menu {
  width: $main-menu-width;
  grid-area: mainMenu;
  justify-self: start;
  font-size: $emphasized-text-font-size;
  color: $color-deep-red;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;

    li {
      list-style-type: none;
    }

    li:hover {
      color: $color-deep-hover-red;
    }
  }
}

footer .main-menu {
  color: $color-light-blue;
}

footer .main-menu > ul li:hover {
  color: $color-hover-blue;
}

.footer-menu-with-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .main-menu {
    width: 100%;

    ul {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-menu-with-button-container {
    flex-direction: column;
    align-items: center;
  }
}
