@import "../constants/fonts";
@import "../constants/colors";
@import "../constants/font_sizes";
@import "../constants/margins_paddings";
@import "../constants/elements_width";
@import "buttons";
@import "../galleries/line_gallery";
@import "./main_menu_with_title";
@import "../popups/popup";
@import "../popups/popup_teacher_form";
@import "../popups/popup_teacher_info";
@import "../filter_and_search_forms/search_form";
@import "../filter_and_search_forms/filter_forms";
@import "../statistics_table/charts";
@import "../statistics_table/statistics_pagination";
@import "../statistics_table/statistics_table";
@import "../galleries/table_gallery";
@import "../galleries/teacher_card_compact";

body {
  width: 1200px;
  margin: 0 auto;
  font-family: $main-font;
  font-size: $plain-text-font-size;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: $title-block-width calc(#{$main-menu-width} - #{$title-block-width}) auto auto $button-add-teacher-width;
  grid-template-rows: auto;
  grid-template-areas:
    "title . . searchForm searchForm"
    "mainMenu mainMenu . . addTeacherButton";
  margin-bottom: 30px;
  margin-left: $margin-left-right;
  margin-right: $margin-left-right;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-bottom-between-blocks;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-bottom-between-blocks;
    width: calc(100% - 2 * #{$margin-left-right});
  }

  hr {
    align-self: center;
    width: 590px;
    border: 0.5px solid black;
  }
}

footer {
  margin-left: $margin-left-right;
  margin-right: $margin-left-right;
  margin-bottom: $margin-bottom-between-blocks;

  p {
    margin-bottom: $margin-bottom-between-blocks;
  }
}

input {
  padding-left: 9px;
  border-width: $input-border-width;
  border-color: $color-grey;
  font-size: $plain-text-font-size;
}

select {
  background: white;
  font-size: $plain-text-font-size;
  font-family: $main-font;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
  text-align: center;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 90vw;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  main {
    width: 100%;

    section {
      width: 100%;
    }

    hr {
      width: 80%;
    }
  }

  footer {
    width: 100%;
    margin-bottom: $margin-bottom-between-blocks * 2;

    p {
      margin-left: $margin-left-right / 2;
      margin-right: $margin-left-right / 2;
    }
  }
}
